.slider {  
    width: 100vw;  
    height: 100vh;  
    overflow: hidden;  
    border: 1px solid #ccc;  
  }  
  
  .slides {  
    display: flex;  
    transition: transform 0.5s ease-in-out;  
  }  
  
  .slide {  
    min-width: 100%;  
    box-sizing: border-box;  
  }  
  
  .slider img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
  }  

/* Responsive Adjustments */
@media (max-width: 768px) {
    .slider {
        height: 50vh; /* Adjust height for smaller screens if needed */
    }
}

@media (max-width: 480px) {
    .slider {
        height: 40vh; /* Further adjustment for very small screens */
    }
}